@import url('https://fonts.cdnfonts.com/css/chirp-2');
@import url('https://fonts.cdnfonts.com/css/hero-4');


.login-container{
    /* background: linear-gradient(to top left, #F5F8FA, #F5F8FA, #657786);
    background-repeat: no-repeat; */
    background-image: url("blackAbstract5.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    height:100vh;
}



.toptab{
    text-align: center;
    font-family: 'Hero', sans-serif;
    color:rgba(182, 182, 182, 0.559);
  
}

#signIn {
    color:rgba(182, 182, 182, 0.559);
    margin-bottom: 10px;
}

.login{
    font-family: 'Hero', sans-serif;
    text-align: center;
    background-color: #28292E;
    opacity: 85%;
    color: white;
    /* outline: 3px solid black; */
    box-shadow: 3px 3px black;
    border-radius: 10px;
    margin: 10em 10em 10em 10em;
    padding: 1em 1em 15em 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    min-width: 300px;
    transition: 0.5s;
    }

.boxing{
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


/* label:after { content: ": " } */

.submit{
    font-family: 'Hero', sans-serif;
    margin-top: 15px;
    border-radius: 50px;
    width: 75%;
    height: 30px;
    /* background: linear-gradient(to bottom right, #657786, #28292E); */
    background-color:  #232429;
    color:rgba(255, 255, 255, 0.559); 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    
}

.decor{
    text-decoration: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 200px;
    border: none;
    
}

a {
    color:rgba(255, 255, 255, 0.559); 
}

a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color:rgba(182, 182, 182, 0.559);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.varr{
    padding:0.8em;
    border-radius: 5px;
    background-color:  rgba(128, 128, 128, 0.001);
    width: 75%;
    /* margin-left: 300px;
    margin-right: 300px; */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgba(255, 255, 255, 0.559); 
    font-family: 'Hero', sans-serif;
    opacity: 1; 
  }

/* #myinput::-webkit-input-placeholder::before { 
    content: ' ';
    position: absolute;
    top: 2px;  
    left: 0px;
    width: 14px;  
    height: 14px;
    background-image: url("/path/to/icons.png");  
    background-repeat: no-repeat;
    background-position: -48px 0px;  
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
} */

#forgotP{
    text-align: right;
    margin-right: 20px;
    color: rgba(0, 0, 255, 0.601);
    font-weight: bolder;
    opacity: 65%;
}

#orSign{
    margin-top: 20px;
    color:rgba(255, 255, 255, 0.559); 
    font-family: 'Hero', sans-serif;

}

#google{
    width: 200px;
    height: 45px;
}

.LOGO{
    width: 350px;
    height: 250px;
    margin-top: auto;
    margin-bottom: -150px;
    transition: 0.5s;
}

.popup{
    position:fixed;
    top: 0;
    left:0;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-inner{
    position: relative;
    padding: 40px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
}

.popup-inner .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
}


